.fade {
  padding: 3em;
  background-color: white;
  border: 2px solid red;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

/** Fade out an element */
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/** Fade in an element */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
