.button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;

  &--primary {
    background-color: $is-bg-blue;
  }

  &--large {
    font-size: 18px;
    padding: 24px 32px;
  }
}
