{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@js": "./wp-content/themes/allconnect/js",
          "@preamp": "./wp-content/themes/allconnect/preamp"
        }
      }
    ]
  ]
}
