<!-- Fade in button -->
<button
  class="button button--primary button--large"
  data-fade-control
  data-fade-controls="fade-target--1"
  data-fade-direction="in"
>
  Fade In
</button>
<!-- Fade out button -->
<button
  class="button button--primary button--large"
  data-fade-control
  data-fade-controls="fade-target--1"
  data-fade-direction="out"
>
  Fade Out
</button>

<!-- Fade target -->
<div
  data-fade-target="fade-target--1"
  aria-hidden="false"
  style="background-color: white; border: 1px solid red; padding: 3em;"
>
  <h3>Fade this content</h3>
</div>
